@charset "UTF-8";
div#tv-radio {
width: 800px;
height: 500px;
margin: auto;
background: url("C:/Users/jose/Desktop/aula gusta guanabara/tv2.jpg")no-repeat;
}
video#filme {
display: block;
position: relative;
left:100px;
top:10px;
width: 150px;
}
audio#musica {
display: block;
position: relative;
left: 100px;
top: 400px;
width:480px;
}
