Ir para o conteúdo
Pesquise ou pule para…
Requisição pull_ _
problemas
Codespaces
mercado
explorar
 
@joaveloso 
joaveloso
/
veloso
público
Não é possível bifurcar porque você possui este repositório e não é membro de nenhuma organização.
código
problemas
Requisições puxadas
Ações
Projetos
Wiki
segurança
Conhecimentos
configurações
veloso/testando3.css _
@joaveloso
joaveloso Criar testando3.css
Última confirmação 480b08f há 5 horas
 História
 1 colaborador
190 linhas (190 sloc)  3,19 KB

@charset "UTF-8" ;
@import  url ( 'https://fonts.googleapis.com/css2?family=Dancing+Script&family=Finger+Paint&family=Lato&family=Open+Sans&family=Rock+Salt&display=swap' );
corpo {
font-family : Arial , sans-serif;
background-color : # dddddd ; }
h2 { cor : vermelho;
}
div # interface {
largura : 1295 px ;
cor de fundo : # ffffff ;
margem : -30 px  10 px  10 px  10 px ;
box-shadow : 0 px  0 px  10 px preto;
preenchimento : 0 px  10 px  10 px  10 px ;
}
header # cabecalho  img # icone {
posição : absoluto;
esquerda : 730 px ;
superior : 40 px ;
}
um {
cor : # 606060 ;
decoração de texto : nenhum;
}
a : passe o mouse {
decoração de texto : sublinhado;
}
cabeçalho # cabecalho {
borda inferior :  3 px  # 606060 sólido;
background : url ( "images.png" ) sem repetição 300 px  20 px ;
}
cabeçalho # cabecalho  h3 {
font-family :  'Rock Salt' , cursiva;
tamanho da fonte : 30 pt ;
cor : # 606060 ;
text-shadow : 1 px  1 px  1 px  rgba ( 0 , 0 , 0 , .6 );
preenchimento : 0 px ;
margem inferior : 0 px ;
}
cabeçalho # cabecalho  h2 {
font-family : Arial , sans-serif;
cor : # 888888 ;
tamanho da fonte : 15 pt ;
preenchimento : 0 px ;
margem superior : 0 px ;
}
figura . legenda da foto {
posição : relativa;
borda : 8 px branco sólido;
box-shadow : 1 px  1 px  4 px preto;
}
figura . foto-lenda  img {
largura : 100 % ;
altura : 100 % ;
}
figura . legenda da foto  figcaption {
opacidade : 0 ;
posição : absoluto;
superior : 0 px ;
cor de fundo : rgba ( 0 , 0 , 0 , .4 );
cor : vermelho;
largura : 100 % ;
altura : 100 % ;
preenchimento : 100 px ;
tamanho da caixa : caixa de borda;
transição : opacidade 1 s ;
}
figura . legenda da foto : hover  figcaption {
opacidade : 1 ;
}
navegação {
exibição : bloco;
}
navegador  { _
estilo de lista : nenhum;
text-transform : letras maiúsculas;
posição : absoluto;
superior :  -15 px ;
esquerda :  900 px ;
}
navegação  li {
exibição : bloco em linha;
cor de fundo : branco;
preenchimento : 5 px ;
margem : 0 px ;
transição : background-color 1 s ;
}
nav  li : passe o mouse {
cor de fundo : amarelo;
}
nav  li  a : passe o mouse {
cor : verde;
cor : vermelho;
decoração de texto : nenhum;
}
navegar  em {
decoração de texto : nenhum;
}
seção # corpo {
exibição : bloco;
largura : 500 px ;
flutuar : esquerda;
borda direita : sólido de 2 px # 606060 ;
padding-esquerda : auto;
}
artigo # noticia-principal  h1 {
tamanho da fonte :  20 pt ;
cor : verde;
background-color : # dddddd ;
preenchimento : 10 px  5 px  10 px  10 px ;
margem : 20 px ;
}
cabeçalho # cabecalho-artigo  h2 {
font-family : 'FonteLogo' , sem serifa;
tamanho da fonte : 20 pt ;
cor : azul;
margem inferior : 30 px ;
margem superior : 0 px ;
}
cabeçalho # cabecalho-artigo  h3 {
tamanho da fonte : 13 pt ;
cor : #cecece ; _
cor de fundo : vermelho;
margem : 0 px ;
}
cabeçalho # cabecalho-artigo  h4 {
tamanho da fonte : 12 px ;
cor : # 606060 ;
}
. direita {
alinhamento de texto : direito;
}
tabela # tabelaspec {
borda : 1 px solid#606060;
espaçamento entre bordas : 0 px ;
margem-esquerda : auto;
margem direita : auto;
}
tabela # tabelaspec  td {
borda : 1 px solid#606060;
preenchimento : 10 px ;
alinhamento de texto : centro;
alinhamento vertical : meio;
}
tabela # tabelaspec  td . ce {
cor : #ffffff ; _
cor de fundo : # 606060 ;
alinhamento vertical : topo;
peso da fonte : negrito;
}
tabela # tabelaspec  td . CD {
background-color : # cecece ;
}
tabela # tabelaspec  legenda {
cor : # 888888 ;
tamanho da fonte : 20 pt ;
peso da fonte : mais ousado;
}
tabela # tabelaspec  legenda  span {
exibição : bloco;
flutuar : direita;
cor : # 000000 ;
tamanho da fonte : 8 pt ;
margem superior : 20 px ;
}
lado # lateral {
exibição : bloco;
largura : 750 px ;
flutuar : direita;
background-color : # dddddd ;
preenchimento : 10 px ;
margem superior : 10 px ;
box-shadow : 2 px  2 px  2 px  rgba ( 0 , 0 , 0 , .5 );
}
lado # lateral  h1 {
font-family : 'FonteLogo' , sana-serif;
tamanho da fonte : 20 pt ;
cor : # 606060 ;
}
lado # lateral  h2 {
cor de fundo : # 606060 ;
tamanho da fonte : 15 pt ;
cor : #ffffff ; _
}
rodapé # rodape {
claro : ambos;
borda superior : sólido de 2 px # 606060 ;
}
rodapé # rodape  p {
alinhamento de texto : centro;
}
Rodapé
© 2023 GitHub, Inc.
Navegação no rodapé
Termos
Privacidade
segurança
Status
Documentos
Entre em contato com o GitHub
Preços
API
Treinamento
blogue
Cerca de
veloso/testando3.css at main · joaveloso/veloso
